
<div class="shop-page">
  <h2 class="shop-title">商城</h2>
  <div class="shop-grid">
    {{#each this.model.products as |p|}}
      <a class="shop-card" href={{concat "/shop/product/" p.id}}>
        {{#if p.image_url}}
          <img class="shop-image" src={{p.image_url}} alt={{p.title}} />
        {{/if}}
        <div class="shop-name">{{p.title}}</div>
        <div class="shop-price">{{p.price_cents}} {{p.currency}}</div>
      </a>
    {{/each}}
  </div>
</div>
