<div class="shop-product-page">
  <h1><%= @product[:title] %></h1>
  <div class="price">¥<%= (@product[:price_cents].to_i / 100.0).round(2) %></div>
  <div class="images">
    <% Array(@product[:images]).each do |img| %>
      <img src="<%= img %>" alt="<%= @product[:title] %>" style="max-width:200px">
    <% end %>
  </div>
  <p><a href="/shop/public/products">返回列表</a></p>
  <p class="muted">需要 JSON? <code>/shop/public/products/<%= @product[:id] %>.json</code></p>
</div>
